
/.env
/.php_cs.cache
/.web-server-pid
/tests/public/bundles/
/var/
/vendor/
/public/
/.gh-pages/
/docs/yarn.lock
/docs/assets/vendor/tiny-emitter/yarn.lock
/.idea/
/.php-cs-fixer.cache
/.phpunit.result.cache
